@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/circe_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/circe_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/circe_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/circe_bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/circe_bold.svg#circe_bold') format('svg'); /* Chrome < 4, Legacy iOS */
    font-style: normal;
    font-weight: 600;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/circe_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/circe_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/circe_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/circe_light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/circe_light.svg#circe_light') format('svg'); /* Chrome < 4, Legacy iOS */
    font-style: normal;
    font-weight: 300;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/circe.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Circe', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    overflow-x: hidden;
}

/* HEADER */
.header {
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    padding: 0 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    font-size: 18px;
    color: rgba(138, 138, 138, 255);
    text-decoration: none;
}
.header__logo:hover {
    color: rgba(138, 138, 138, 255);
    text-decoration: none;
}
.header__menu-btn {
    position: relative;
    height: 12px;
    width: 18px;
    margin-left: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.header__right,
.header__left {
    display: flex;
    align-items: center;
}
.header__menu-btn i {
    position: absolute;
    display: block;
    background-color: #8a8a8a;
    width: 100%;
    height: 2px;
    left: 0;
}
.header__menu-btn i:first-child {
    top: 0;
}
.header__menu-btn i:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.header__menu-btn i:last-child {
    bottom: 0;
}
.header__btn {
    border: 1.5px solid #27578c;
    background-color: #27578c;
    color: #ffffff;
    width: 208px;
    height: 27px;
    text-align: center;
    line-height: 24px;
    border-radius: 15px;
    cursor: pointer;
}
.header__btn:hover {
    background-color: transparent;
    color: #27578c;
}
.push {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.push img {
    width: 28px;
    height: 32px;
    cursor: pointer;
    user-select: none;
}
.drop {
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 1.5px solid #b0b0b0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.drop div {
    position: absolute;
    top: 8px;
    left: 12px;
    transform: translate(-50%, -50%);
    max-width: 10px;
    height: 8px;
    border: 6px solid transparent;
    border-bottom: 8px solid #b0b0b0;
}
.drop:hover {
    border: 1.5px solid #27578c;
}
.drop:hover div {
    border-bottom: 8px solid #27578c;
}
.push__drop {
    margin-left: 3px;
}
.header_reg {
    display: flex;
    align-items: center;
}
.reg__user {
    margin-right: 12px;
    line-height: 1;
    font-size: 18px;
    color: #b0b0b0;
}
/* END:HEADER */

.main {
    display: flex;
    min-height: calc(100vh - 60px);
    height: calc(100% - 60px);
}
.main.active .aside {
    margin-left: 0;
}
.aside {
    position: relative;
    margin-left: -225px;
    width: 225px;
    padding: 48px 25px 0 40px;
    background-color: #28334b;
    overflow: hidden;
}
.nav__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.nav__item a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    line-height: 1;
    font-size: 18px;
    margin-left: 10px;
}
.nav__item a:hover {
    color: #78aedf;
    text-decoration: none;
}
.nav__item_icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* main__content */
.main.active .main__content {
    width: calc(100vw - 225px);
}
.main__content {
    width: 100vw;
    background-color: #ffffff;
}
.search {
    position: relative;
    background-color: #78aedf;
    padding: 50px 60px;
    z-index: 3;
}
.search::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    background-image: url(../assets/shadow.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 17px;
    width: 100%;
}
.results {
    position: relative;
    z-index: 1;
    padding: 60px;
}
/* END:main__content */

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}
@media (max-width: 480px) {
    
}