@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/circe_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/circe_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/circe_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/circe_bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/circe_bold.svg#circe_bold') format('svg'); /* Chrome < 4, Legacy iOS */
    font-style: normal;
    font-weight: 600;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/circe_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/circe_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/circe_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/circe_light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/circe_light.svg#circe_light') format('svg'); /* Chrome < 4, Legacy iOS */
    font-style: normal;
    font-weight: 300;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/circe.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/circe.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/circe.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/circe.svg#circe') format('svg'); /* Chrome < 4, Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Circe', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#5f5f5f;
    overflow-x: hidden;
}
input, button {
    outline: none;
}
label {
    user-select: none;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding: 0 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100vw;
}
.header__logo {
    font-size: 18px;
    color: rgba(138, 138, 138, 255);
    text-decoration: none;
}
.header__logo:hover {
    color: rgba(138, 138, 138, 255);
    text-decoration: none;
}
.header__menu-btn {
    position: relative;
    height: 12px;
    width: 18px;
    margin-left: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.header__right,
.header__left {
    display: flex;
    align-items: center;
}
.header__menu-btn i {
    position: absolute;
    display: block;
    background-color: #8a8a8a;
    width: 100%;
    height: 2px;
    left: 0;
}
.header__menu-btn i:first-child {
    top: 0;
}
.header__menu-btn i:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
.header__menu-btn i:last-child {
    bottom: 0;
}
.header__btn {
    border: 1.5px solid #27578c;
    background-color: #27578c;
    color: #ffffff;
    width: 208px;
    height: 27px;
    text-align: center;
    line-height: 24px;
    border-radius: 15px;
    cursor: pointer;
}
.header__btn:hover {
    background-color: transparent;
    color: #27578c;
}
.push {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.push img {
    width: 28px;
    height: 32px;
    cursor: pointer;
    user-select: none;
}
.drop {
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    border: 1.5px solid #b0b0b0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.drop div {
    position: absolute;
    top: 8px;
    left: 12px;
    transform: translate(-50%, -50%);
    max-width: 10px;
    height: 8px;
    border: 6px solid transparent;
    border-bottom: 8px solid #b0b0b0;
    perspective: 20px;
}
.drop.active div {
    transform: translate(-50%, 2px) rotate3d(1, 0, 0, 180deg);
}
.drop:hover {
    border: 1.5px solid #27578c;
}
.drop:hover div {
    border-bottom: 8px solid #27578c;
}
.push__drop {
    margin-left: 3px;
}
.header_reg {
    display: flex;
    align-items: center;
}
.reg__user {
    margin-right: 12px;
    line-height: 1;
    font-size: 18px;
    color: #b0b0b0;
}
/* END:HEADER */

.main {
    display: flex;
    min-height: calc(100vh - 60px);
    height: calc(100% - 60px);
    margin-top: 60px;
}
.main.active .aside {
    margin-left: 0;
}
.aside {
    position: relative;
    margin-left: -225px;
    width: 225px;
    padding: 48px 25px 0 40px;
    background-color: #28334b;
    overflow: hidden;
}
nav {
    position: fixed;
}
.nav__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.nav__item a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    line-height: 1;
    font-size: 18px;
    margin-left: 10px;
}
.nav__item a:hover {
    color: #78aedf;
    text-decoration: none;
}
.nav__item_icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* main__content */
.main.active .main__content {
    width: calc(100vw - 225px);
}
.main__content {
    width: 100vw;
    background-color: #ffffff;
}
.search {
    position: relative;
    background-color: #78aedf;
    padding: 50px 60px;
    z-index: 3;
}
.search::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    background-image: url(../assets/shadow.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 17px;
    width: 100%;
}
.search h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 1;
}
.results {
    position: relative;
    z-index: 1;
    padding: 60px;
}
/* END:main__content */

/* search__tabs */
.search__tabs {
    display: flex;
    align-items: center;
    padding: 48px 0 24px 0;
}
.search__tab {
    width: 211px;
    height: 30px;
}
.search__tab button {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    border: 1.5px;
    border-style: solid;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    line-height: 1;
}
.search__tab:last-child {
    margin-left: 2px;
}
.search__tab:first-child button {
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent;
}
.search__tab:last-child button {
    color: #ffffff;
    border-color: #27578c;
    background-color: #27578c;
}
.search__tab:first-child button:hover {
    background-color: #ffffff;
    color: #27578c;
}
.search__tab:last-child button:hover {
    background-color: transparent;
    color: #27578c;
}
.form-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
    min-height: 1px;
}
.form-group:nth-child(3) {
    margin-bottom: 6px;
}
.form-group:last-child {
    margin-bottom: 0;
}
.form-control {
    width: calc((100% - 24px) / 4);
    min-height: 100%;
}
.form-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    color: #ffffff;
    line-height: 20px;
    margin-bottom: 10px;
}
.form-control input {
    padding: 0 12px;
    border: 0;
    width: 100%;
    height: 43px;
}
.form-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sort-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    perspective: 20px;
    user-select: none;
}
.sort-item.active .arrow {
    transform: rotate3d(1, 0, 0, 180deg);
}
.sort-item:first-child {
    margin-right: 3px;
}
.control {
    position: relative;
}
.control .drop {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}
.control input {
    padding-right: 50px;
}
/* END: search__tabs */

/* search-form */
.city input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.daterange {
    position: relative;
}
.daterange input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.daterange img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.peoples {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc((100% - 8px) / 2);
    height: 43px;
    padding: 4px;
    background-color: #ffffff;
    border-radius: 21.5px;
}
.counter__plus,
.counter__minus {
    color: #ffffff;
    height: 35px;
    width: 35px;
    background-color: #78aedf;
    border-radius: 17.5px;
    cursor: pointer;
    line-height: 35px;
    font-size: 54px;
    text-align: center;
    user-select: none;
}
.counter__minus {
    padding-top: 5px;
}
.night,
.road {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-select {
    width: calc((100% - 4px) / 2);
    background-color: #ffffff;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 21.5px;
    padding: 0 10px 0 18px;
    line-height: 1;
}
.filtres__btn {
    opacity: .5;
    cursor: pointer;
    font-size: 16px;
}
.filtres__btn:hover {
    opacity: 1;
}
.label-roads {
    justify-content: space-around;
    text-align: center;
}
.label-night span{
    width: 50%;
    text-align: center;
}
.night-min,
.night-max,
.road-count,
.road-time {position: relative;top: 2px;}
input.rangeslider {
    -webkit-appearance: none;
    background: #6897c1;
    height: 4px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 0;
    margin: 0 6px;
    width: calc(100% - 32px);
}
.range-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 43px;
}
.range-min, .range-max {
    width: 10px;
}
.range-slider-label {
    justify-content: center;
}
input.rangeslider:hover {
    opacity: 1;
}
input.rangeslider::-webkit-slider-thumb { 
    -webkit-appearance: none; 
    cursor: pointer;
    background: #fff; 
    width: 25px; 
    height: 25px;
    border-radius: 50%;
}
.thourists span {
    display: block;
    width: 50%;
    text-align: center;
}
.list-head__all label {
    cursor: pointer;
}
.form-list__block {
    background-color: #ffffff;
    padding: 10px 0;
    margin-top: 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form-list__wrap input {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 20px 10px;
}
.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 0;
	padding: 0!important;
	width: 21px!important;
	height: 21px!important;
}
.radio + label {
	position: relative;
	padding: 0 0 0 26px;
	cursor: pointer;
	height: 23px;
	line-height: 26px;
	white-space: nowrap;
	font-size: 16px;
}
.radio + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 21px;
	height: 21px;
	border: 1px solid #78aedf;
	border-radius: 50%;
	background: #78aedf;
}
.radio + label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #f96900;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}
.radio:checked + label:after {
	opacity: 1;
}
.list-head__all {
    display: flex;
    align-items: center;
}
.list-head img.arrow {
    width: 9px;
    height: 17px;
}
.form-list__item {
    margin-bottom: 10px;
}
.form-list__items {
    max-height: 342px;
    overflow: auto;
    margin: 0 4px 0 10px;
}
.form-list__items::-webkit-scrollbar-track {
    background-color:#d0d0d0;
}
.form-list__items::-webkit-scrollbar{
    width: 4px;
}
.form-list__items::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#27578c;
}
.filter-radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 0;
	padding: 0!important;
	width: 21px!important;
	height: 21px!important;
}
.filter-radio + label {
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
	height: 23px;
	line-height: 30px;
	white-space: nowrap;
	font-size: 16px;
	display: flex;
	align-items: center;
}
.filter-radio + label:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 21px;
	height: 21px;
	border: 1px solid #fff;
	border-radius: 50%;
	background: transparent;
}
.filter-radio + label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #f96900;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}
.filter-radio:checked + label:after {
	opacity: 1;
}
.filters {
    padding: 0 7px 15px 15px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-top: 15px;
    color: #000000;
}
.filter__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
}
.filter__head label {
    padding: 3px 5px 3px 30px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    height: 30px;
}
.filter__head .filter-radio + label:before {
    top: 2px;
    left: 3px;
}
.filter__head .filter-radio:checked + label:after {
    top: 5px;
    left: 6px;
}
.filter__head .filter-radio:checked + label {
    border-color: #f96900;
}
.filter__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter__option {
    width: calc((100% - 15px) / 4);
    margin-top: 15px;
}
.filter__option label {
    padding-left: 24px;
    justify-content: center;
}
.filter__option label span {position: relative;top: 1px;margin-right: 1px;font-size: 13px;}
.filter {
    padding-top: 20px;
}
.price__controls,
.price__labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price__controls input,
.price__labels label {
    width: calc((100% - 22px) / 2);
}
.price__controls span {
    display: block;
    width: 22px;
    text-align: center;
    font-size: 35px;
    line-height: 35px;
}
.price__controls input {
    border-radius: 21.5px;
}
.price__controls label {
    padding-left: 8px;
}
.thouroperator__head {
    height: 43px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 12px;
}
.thouroperator .form-list__items {
    max-height: 389px;
}
.form__main-options {
    padding: 0 27px 0 10px;
    height: 44px;
    border: 1px solid #fff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc((100% - 8px) / 2);
    border-radius: 22px;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.checkbox + label {
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 1px;
	width: 21px;
	height: 21px;
	border-radius: 13px;
	background: transparent;
	transition: .2s;
	border: 1px solid #fff;
}
.checkbox + label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 4px;
	width: 17px;
	height: 17px;
	border-radius: 8.5px;
	background: #f96900;
	transition: .3s;
	border: 0;
	opacity: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
}
.checkbox:checked + label:after {
	opacity: 1;
}
.form__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc((100% - 24px) / 4);
}
.form__btns button {
    height: 40px;
    border: 2px solid #f96900;
    border-radius: 4px;
    background-color: #f96900;
    color: #ffffff;
    text-align: center;
}
.form__btns button:hover {
    background-color: transparent;
    color: #f96900;
}
.form__btns-clear {
    width: 40px;
    font-size: 30px;
    cursor: pointer;
}
.form__btns-submit {
    width: calc(100% - 50px);
    font-size: 20px;
}
/* END:search-form */

/* results */
.results__header {
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: #27578c;
    height: 44px;
    line-height: 1;
}
.results__status {
    padding: 0 10px;
}
.results__info {
    padding: 0 10px;
}
.item__col-1 {
    width: 285px;
}
.item__col-2 {
    width: calc(100% - 465px);
}
.item__col-3 {
    width: 180px;
}
.results__show-btn {
    background-color: #f96900;
    color: #ffffff;
    height: 28px;
    width: ;
    border: 1px solid #f96900;
    cursor: pointer;
    margin-right: 10px;
    width: calc(100% - 10px);
    border-radius: 15px;
    font-size: 18px;
}
.results__show-btn:hover {
    color: #f96900;
    background-color: transparent;
}
.results__items {
    margin-top: 24px;   
}
.results__item {
    position: relative;
}
.results__item::after {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: url(../assets/shadow.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.item__photo {
    position: relative;
    text-decoration: none;
    display: block;
}
.item__photo img {
    width: 100%;
    height: auto;
}
.item__ticket {
    position: absolute;
    top: 13px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 134px;
    background-color: #f96900;
    color: #ffffff;
    border-radius: 15px;
}
.item__main {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
.item__about {
    display: flex;
    justify-content: space-between;
    height: 171px;
    border-bottom: 1px solid #27578c;
}
.item__name {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(39, 87, 140, 255);
    line-height: 1;
}
.item__haracteristics {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.item__rayting {
    height: 22px;
    border-radius: 12px;
    padding: 0 5px;
    border: 1px solid #f96900;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 6px;
}
.item__rayting img {
    width: 18px;
    height: 17px;
    margin-right: 4px;
}
.item__rayting span {
    display: block;
    position: relative;
    top: 1px;
}
.item__trip {
    display: flex;
    align-items: center;
    height: 21px;
    border: 1px solid #f96900;
    border-radius: 11.5px;
    padding: 0 3px 0 5px;
    margin-right: 8px;
}
.item__trip img {
    margin-right: 3px;
}
.circle {
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #f96900;
    background-color: transparent;
    border-radius: 7.5px;
    margin-left: 2px;
}
.circle.fill {
    background-color: #f96900;
}
.item__feedback {
    color: rgba(120, 174, 223, 255);
    user-select: none;
}
.item__place {
    line-height: 1;
    color: rgba(138, 138, 138, 255);
    margin-bottom: 12px;
}
.item__facilities {
    display: flex;
    align-items: center;
}
.item__facilitie {
    height: 32px;
    width: 32px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 156px;
    margin-right: 5px;
    background-color: #78aedf;
}
.hotel__about {
    display: inline-block;
    text-decoration: none;
    height: 20px;
    line-height: 20px;
    border: 1px solid #27578c;
    background-color: #27578c;
    color: #ffffff;
    text-align: center;
    padding: 0 12px;
    border-radius: 11px;
    cursor: pointer;
    margin-top: 12px;
}
.hotel__about:hover {
    background-color: transparent;
    color: #27578c;
}
.item__details,
.item__info {
    width: 50%;
}
.item__details {
    text-align: center;
}
.item__date-out {
    color: #000000;
}
.item__prices {
    line-height: 1;
    text-align: center;
}
.item__prices-min span {
    color: #000000;
    font-size: 24px;
}
.item__toogle-thoours-btn {
    width: calc(100% - 10px);
    height: 42px;
    border: 1px solid #f96900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 9px 0 19px;
    color: #ffffff;
    font-size: 18px;
    background-color: #f96900;
    border-radius: 4px;
}
.item__toogle-thoours-btn:hover {
    background-color: transparent;
    color: #f96900;
}
.thour__drop {
    border: 1.5px solid #ffffff;
}
.thour__drop div {
    border-bottom: 8px solid #ffffff;
}
.item__toogle-thoours-btn:hover .thour__drop {
    border: 1.5px solid #f96900;
}
.item__toogle-thoours-btn:hover .thour__drop div {
    border-bottom: 8px solid #f96900;
}
.item__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 10px;
}
.item__thouroperator__amount {
    line-height: 1;
}
.thour__duration {
    padding: 0 12px;
    line-height: 1.2;
}
.item__thour {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid #27578c;
}
.thour__dates {
    color: #000000;
}
.thour__main span {
    color: #000000;
}
.thour__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.thour__price {
    color: #000000;
    font-size: 24px;
}
.thour__link {
    text-decoration: none;
    color: rgba(120, 174, 223, 255);
}
.results__more-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 234px;
    height: 42px;
    border: 1px solid #27578c;
    background-color: #27578c;
    color: #ffffff;
    line-height: 1;
    z-index: 3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0;
    cursor: pointer;
}
.results__more-btn:hover {
    background-color: #ffffff;
    color: #27578c;
}
/* END:results */

/* popover */
.popover {
    position: absolute;
    padding: 15px;
    display: none;
    background-color: #fff;
}
.popover.active {
    display: block;
    z-index: 111;
}
/* END:popover */

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}
@media (max-width: 480px) {
    
}